$white: #FFFFFF;

$grey: #5f6c7b;
$grey-light: #72757E;

$black: #000000;
$black-base: #16161A;

$green: #2CB67D;

$blue-light: #d8eefe;
$blue-dark: #094067;

$marron-light: #DC7633;
$marron-dark: #873600;

$orange: #ff8e3c;
$red: #f25042;

$path-light: #eaddcf;